.header-layout{
  
  height: 100%;
  width: 100%;
  padding-bottom: 3em;
  background-color: #8d9cd3;
}

.logo-header-layout{
  
  text-decoration: none;
  color: white;
  font-size: 8px;
}

.links-header-layout{
  font-size: 8px;
  text-decoration: none;
  margin-left: 10%;
  color: white;
  font-family: verdana;
}




/*ALBUMS PAGE STYLING START*/







/*PROFILE PAGE STYLING START*/

.profile-layout-nav{
	
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border: 3px solid black;
	margin-top: 5%;
	margin-left: 9%;
	margin-right: 9%;
	height: 40px;
	background-color: #c66375;
}

.profile-layout-container a{
	font-size: 24px;
	color: white;
	text-decoration: none;
}

.profile-layout-container a:hover{
	color: #242526;
}
