
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #242526;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header-layout{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #18191a;
}

.logo-header-layout{
  font-size: 45px;
  text-decoration: none;
  
  color: white;
}

.links-header-layout{
  font-size: 24px;
  text-decoration: none;
  margin-left: 320px;
  color: white;
  font-family: verdana;
}




/*ALBUMS PAGE STYLING START*/

.albums-page-container{
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 3rem;
	border: solid red 3px;
}

.albums-page-title{
	color: white;
	font-size: 32px;
	font-family: monospace;
}

.albums-page-genres-container{
	margin-top: 2rem;
	border: 3px solid blue;
	
	
}

.genre-container{
	display: flex;
	
	flex-wrap: wrap;


}

.genre-container-title{
	font-family: monospace;
	color: white;
	font-size: 24px;
	margin-bottom: 40px;
	margin-left: 4rem;
	border-bottom: solid 2px white;
}

.genres-container-bundle{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}

.album-card-container{
	width: 225px;
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	flex-wrap: nowrap;
	font-size: 20px;
	margin: 1rem;
	
	color: white;
	text-align: center;
}

.album-card-container img{
	width: 150px;
	height: 150px;
	
}




/*LONE ALBUM STYLING*/

.lone-album-container{
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 3rem;
	color: white;
	height: 100vh;
	font-family: Verdana, Geneva, Tahoma, sans-serif
	
	
}

.album-comp-container{
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	height: 60%;
	
}

.album-comp-image{
	width: 33%;
}

.album-comp-image h2{
	font-size: 24px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-decoration: solid;
}

.album-comp-image p{
	margin-top: 10px;
}

.album-comp-container img{
	width: 400px;
	height: 400px;
	border: black 2px solid;
}

.album-comp-desc{
	border: 3px solid white;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	
	width: 33%;
}

.album-comp-desc h2{
	font-size: 3em;
	margin-bottom: 30px;
	
}

.album-comp-desc p{
	font-size: 1.5rem;
	margin-top: 5px;
}

.album-comp-interact{
	width: 33%;
	display: flex;
	justify-content: center;
	
}


.trackplay-song-container{
	margin-top: 80px;
	display: flex;
	font-size: 5px;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
}
.trackplay-song-container button{
	width: 50px;
	height: 50px;
	margin-right: 30px;
}



/*POPUP STYLING*/

.popup{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 70%;
	transform: translate(-50%, -50%);
	height: 500px;
	background: grey;
	display: flex;
	align-items: center;
}

.popup-inner{
	position: relative;
	display: flex;
	padding: 32px;
	width: 100%;
	max-width: 90%;
	height: 70%;
	background-color: white;
	color: #18191a;
	border: 3px solid blue;
}

.popup-review-container{
	margin-top: 1%;
	margin-left: 3%;
	display: flex;
	flex-direction: column;
	width: 55%;
	font-size: 22px;
}

.popup-inner img{
	width: 200px;
	height: 200px;
}

.review-textbox{
	width: 80%;
	height: 150px;
}

.popup-title-review{
	margin-top: 10%;
}

.popup-inner-close-button{
	position: absolute;
	top: 16px;
	right: 16px;

}

.inner-submit-button{
	margin-top: 10px;
	width: 80px;

}