body{
	font-size: 16px;
	margin: 0;
	
}

.albums-page-container{
	width: 100%;
	height: 100%;
	
}

.title-container{

	color: white;
	
}

.genre-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	height: 100%;
	padding-bottom: 8em;
	color: white;
	justify-content: space-evenly;	
}

.genre-container img{
	width: 100%;
}

.album-card-container{
	width: 25%;
	margin: 1em;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

h3{
	font-size: .75em;
	text-align: center;
	
}

h4{
	font-size: 1em;
	text-align: center;
}