body{
    font-size: 16px;
    margin: 0;
}



.page-title{
    font-size: 2rem;
    color: white;
}

.reviews-page-container{
    width: 100%;
    height: 100%;
    display: flex;
    
    flex-direction: column;
    align-items: center;
}

.reviews-container{
    
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}


.single-review{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-break: break-all;
    margin-bottom: 2em;
    padding-top: 1em;
    border-top: 3px solid #8d9cd3;
    
    
}

.single-review img{
    width: 60%;
    border: 2px solid black;
}


.review-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    
}


.single-review img:hover{
    border: 5px solid #c66375;
}

.rating-icon{
    font-size: 1rem;
}


/*LISTEN LIST STYLING BELOW*/

.listen-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listen-title{
    color: white;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.listen-albums{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    width: 100%;
    height: 100%;
    justify-content: center;
}
.listen-albums img{
    width: 100%;
    border: 1px solid black;
    
}

.listen-albums a{
    width: 20%;
    margin: .25em;
}

.listen-albums img:hover{
    border: 1px solid #c66375;   
}



/*USER PROFILE PAGE*/

.user-page-container{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-bottom: 4em;
}

.favorite-container{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;   
}

.favorite-container img{
    width: 100%;    
    border: 1px solid black;
    
}

.favorite-container a{
    padding-left: .15em;
    padding-right: .15em;
    width: 18%; 
}

.user-reviews{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around; 
    
}

.user-reviews a{
    padding-left: .15em;
    padding-right: .15em;
    width: 18%; 
}

.user-reviews img{
    width: 100%;
    border: 1px solid black;
}



.review-container{
    display: flex;
    width: 100%;
}


.review-container img{
    width: 100%;

    border: 1px solid black;

}

.user-listen{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;    
}

.user-listen a{
    padding-left: .15em;
    padding-right: .15em;
    width: 18%; 
}

.user-listen img{
    width: 100%;
    border: 1px solid black;
}

.profile-span{
    background-color: #8d9cd3;
    padding: .2em;
    font-size: 1rem;
    color: black;
}

.profile-span a{
    color: black;
}

.profile-span:hover{
    background-color: #74aaa7;
    color: black;
}



.user-stats{
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    justify-content: space-around;
}
    
.data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.settings-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mini-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*USER FOLLOW PAGE*/

.user-follower-container{}

.user-follower-container a{
    font-size: 1.2rem;

}

.user-follower-container a:hover{
    
    color: #c66375;

}


@media (min-width: 769px){


    .review-info{
        margin-right: 1em;
        font-size: 1.5rem;
        width: 100%;
    }
    .reviews-container{
        width: 90%;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .single-review{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-top: 3px solid #8d9cd3;
        width: 100%;       
        padding: 2em;
        margin: 0 1em;
        word-break: break-all;
        
    }

    .single-review img{
        width: 70%;
        margin-left: 1em;   
        border: 5px solid black;
    }
    
    
    .review-info{
        margin-right: 1em;
        font-size: 1.5rem;   
        width: 100%;
        
    }

    .listen-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .listen-title{
        color: white;
        font-size: 2rem;
    }
    
    .listen-albums{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 84%;
        height: 100%;
        
        
        
    }
    .listen-albums img{
        width: 100%;   
        border: 3px solid black;
    }
    
    .listen-albums a{
        width: 10%;
        margin: .5em;
    }

    .listen-albums img:hover{
        border: 3px solid #c66375;   
    }
    .user-page-container{
        font-size: 1.5rem;
    }

    .profile-span{
        background-color: #8d9cd3;
        padding: .6em;
        font-size: 1.2rem;
        color: black;
    }
    
    .profile-span a{
        color: black;
    }
    
    .profile-span:hover{
        background-color: #74aaa7;
        color: black;
    }

    .user-follower-container a{
        font-size: 1.6rem;
    
    }
    
    .user-follower-container a:hover{
        
        color: #c66375;
    
    }
}



